*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}


.cabecalho{
    width: 100%;
    background-color: orange;
}

.cabecalho .conteudocabecalho{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;/**div flexivel*/
}

.cabecalho .conteudocabecalho .logo{
    flex-basis:330px;/*290+20+20*/
    padding: 20px;
    width: 290px;
}

.cabecalho .conteudocabecalho .cabecalhomenu{
    flex-basis: calc(100% - 330px);/*o que sobrar ficará para o menu*/
    display: flex;
    justify-content: flex-end;/*coloca do lado direito*/
}

.cabecalhomenu ul{
    display: flex;
    align-items: stretch;/*colocando um do lado do outro*/
}

.cabecalhomenu ul li{
    list-style: none;
    display: flex;
    align-items: center;/*centralizado em realação a altra do topo*/
}

.cabecalhomenu ul li a{
    padding: 0 26px;
    display: flex;
    align-items: center;
    height: 100%;
    color: black;
}

.cabecalhomenu ul li a:hover{
    background-color: orangered;
    color: #fff;
}

.maincall{
    width: 100%;
    background-image: url(image/fundo.jpg);
    background-color: #24527a;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; /*adequa a imagem ao tamanho da caixa*/
}
.maincall .maincallconteudo{
    max-width: 1300px;
    margin: 0 auto;
}

.maincall .maincallconteudo h1{
    font-size: 3em;
    color: #fff;
    background-color: black;
    font-weight: 700;
    text-align: center;
}

.maincall .maincallconteudo p{
    font-size: 1.875em;
    color: #fff;
    font-weight: 300;
    text-align: center;
    margin: 20px 0;
}

.maincall .maincallconteudo .btn{
    background-color: #d36833;
    color: #fff;
    font-size: 0.8em;
    padding: 10px 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;border-radius: 5px;
}

.maincall .maincallconteudo .maincallconteudospacer{
    margin: 0 auto;
    max-width: 1300px;
    padding: 100px 40px;
}
/* MAIN_BLOG */
.mainblog{
    max-width: calc(1300px - 40px);
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; /*espaçamento entre elementos*/
    flex-wrap: wrap;/*quebrar o conteudo e colocar na linha de baixo*/
}

.mainblog .mainblogcabeca{
    flex-basis: 100%;
    margin: 30px 0;
}


.mainblog .mainblogcabeca h1{
    color: #333;
    margin-bottom: 5px;
    font-size: 1.8em;
}

.mainblog article{
    opacity: 0.85;
    flex-basis: calc(25% - 20px);
    margin-bottom: 30px;

}

.mainblog article:hover{
    opacity: 1;
}

.mainblog article img{
    width: 100%;
}




.mainblog article h2{
    font-weight: 300;
    font-size: 25px;
    color: #d36833;
}




/*OPTIN*/
.mainfooter{
    width: 100%;
    background-color: orange;
    margin: 20px 0;
}
    

.mainfooter .mainfootercontent{
    max-width: 1600px;
    margin: 0 auto;
    display: flex;/**div flexivel*/
    padding: 20px;

}

.mainfooter .mainfootercontent .mainfootercontentmenu{
    flex-basis: calc(100% - 530px);/*o que sobrar ficará para o menu*/
    display: flex;
    justify-content: flex-end;/*coloca do lado direito*/
}

.mainfootercontentmenu ul{
    display: flex;
    align-items: stretch;/*colocando um do lado do outro*/
}
.mainfootercontentmenu ul li{
    list-style: none;
    display: flex;
    align-items: center;/*centralizado em realação a altra do topo*/
  
}

.mainfootercontentmenu ul li a{
    padding: 0 26px;
    display: flex;
    align-items: center;
    height: 100%;
    color: black;
}

.mainfootercontentmenu ul li a:hover{
    background-color: orangered;
    color: #fff;
}

footer p{
    background-color: orange;
    text-align: center;
}

